.home-page {
    
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    
    
    h1 {
        color: #fff;
        font-size: 4rem;
        margin: 0;
        font-family: 'Coolvetica', Courier, monospace;
        font-weight: 400;

        p {
            margin: 0;
        }
        &::before {
            font-family: "La Belle Aurore";
            color: #155E63;
            font-size: 1rem;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            font-family: "La Belle Aurore";
            color: #155E63;
            font-size: 1rem;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;

        }

        img{
            position: relative;
            top: 7px;
            width: 40px;
            padding-left: 20px;
            padding-right: 3px;
            height: auto;
            animation: bounce 1s linear;
            animation-delay: 2s;
        }
    }
    h2 {
        font-family: 'Coolvetica', Courier, monospace;
        font-weight: 400;
        font-size: 2rem;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    h2:nth-child(3){
        color: #8d8d8d;;
    }

    .flat-button {
        color: #EAE7E7;
        font-size: small;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #EAE7E7;
        margin-top: 25px;
        float: left;
    }
}

@media (max-width: 768px) {
    
    h1 {

        p:nth-child(1):after{
            content: " I'm";
        }

        span{
            break-inside: avoid;
        }

        span:nth-child(2){
            display: none;
        }
        span:nth-child(3):after{
            content: "J";
            font-size: 5rem;
            color: #155E63;
            
        }
        span:nth-child(4):after{
            content: "uan C. Vázquez";
            white-space:nowrap;;
            font-size: 4rem;
            
        }

        img{
            display: none;
        }
    }
}